@font-face {
  font-family: "RobotoMono";
  src: url("./fonts/RobotoMono-VariableFont_wght.ttf");
}
@font-face {
  font-family: "RobotoMonoItalic";
  src: url("./fonts/RobotoMono-Italic-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0 auto;
  height: 100vh;
  background: linear-gradient(
    13deg,
    rgba(212, 20, 90, 1) 0%,
    rgba(251, 176, 59, 1) 100%
  );
  overflow: hidden;
  font-family: "RobotoMono";
}

.task-creator {
  position: absolute;
  height: 100vh;
  width: 20vw;
  background-color: #aaa4;
}

.task-creator-form {
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;
}

.add-task-box {
  font-family: "RobotoMonoItalic";
  font-size: 1.25rem;
  background-color: #aaa4;
  border: 2px solid rgba(251, 176, 59, 1);
  outline: none;
}

.add-task-box::placeholder {
  color: #fff;
}

.task-description {
  overflow: scroll;
  resize: none;
  background-color: #aaa4;
  border: 2px solid rgba(251, 176, 59, 1);
  outline: none;
}

.task-description::placeholder {
  color: #fff;
}

.add-task-button {
  background-color: rgba(251, 176, 59, 1);
  text-align: center;
  font-size: 2rem;
}

.add-task-button:hover {
  cursor: pointer;
  background-color: #fbb03bcc;
}

.container-tasks {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}
